.example-basic {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
}

.example-input-element {
  position: relative;

  >p {
    font-size: 1rem;
    color: #999;
  }

  .arrow {
    background-color: black;
    width: 0.75rem;
    height: 0.75rem;
    position: absolute;
    top: 6rem;
    transform: rotate(45deg);
  }

  >input {
    z-index: 1;
    width: 7rem;
    height: 3rem;
    background-color: black;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
    border: 0;
    outline: 0;
    font-size: 2rem;
    margin: 0.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 20px 0px;
  }
}

.example-custom-cursor {
  .custom-cursor {
    background-color: crimson;
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg);
    margin-top: 3rem;
  }
}

.example-resize-observer {
  overflow: hidden;
  resize: horizontal;
}

.example-vertical {
  flex-direction: row;
  justify-content: center;

  .box {
    width: 5rem;
    margin: 0 5rem;

    >p:first-child {
      font-size: 1rem;
      margin: 0;
      color: #999;
    }

    >p:last-child {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.example-custom-styled {
  background-color: black;
  padding: 2px;

  >p {
    color: wheat;
  }
}