@import 'examples.scss';

div#root {
  display: flex;
  justify-content: center;
}

// global default styles applied to element types

main {
  max-width: 64rem;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  font-family: 'Roboto';
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2rem 0 1rem;
}

p {
  margin: 0;
  white-space: pre;
}

a {
  display: inline-block;
  color: #77f;
  margin: 0.5rem 0;
}